<link rel="shortcut icon" href="/images/ssu-logo-2.ico" >
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/aboutus.css">


<img class="ssu-team" src="/images/ssu-team.jpeg" class="ssu-team"></img>


<body>
  <section class="middle-section">
    <section class="about-us">
      <h3 class="title">We are Street Smart University</h3>
    </section>
  </section>

  <section class="footer">
    <p class="footer-memo">This site was built with ruby, sinatra, html, css</p>
  </section>
</body>
