<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SSU</title>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <a class="navbar-brand" href='/'>Learn SSU.</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About Us</a></li>
                  <li class = "dropdown">
                    <a href="#" class="dropdown toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Facebook</a></li>
                    </ul>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
          </div>
      </div>


        <div class="slogan-page">
          <form action="/posts" method="post" class="form">
            <input type="text" name="title" class="input" placeholder="Enter your learning of the day">
            <input type="submit" value="Post" class="post-button">
          </form>
        </div>



      <div class="container">
        <div class="row">
          <div class="col-xs-10">
            <div class="margin">
            <% @posts.reverse.each do |post| %>
            <p class="post"><%= post.title %></p>
            <% end %>
          </div>
        </div>
        </div>
      <div>

      <!-- <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
          <p class="navbar-text pull-left">Site built by Hadi</p>
          <a href="/http://www.youtube.com/user/StreetSmartUni"class="navbar-btn btn btn-danger pull-right">Subscribe on youtube</a>
        </div>
      </div> -->

    <!--<div class="middle-bar">
      <div class="sub-title-bar">
        <p class="sub-title">Get a live feed of the SSU team's daily learnings.</p>
      </div>
    </div>
        <form action="/posts" method="post" class="form">
          <input type="text" name="title" class="input">
          <input type="submit" value="Post" class="post-button">
        </form>
        <div
    </div>
      <div class="ssu-app">
        <div class="container">
        <% if @posts.any? %>
        <li><button class="like-button" name="like">Like</button></li>
        <p class="like-count">0</p><p> Like</p>
        <% end %>

      </div> -->

      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="/js/bootstrap.js"></script>

      <script>


      $(document).ready(function() {


        $(".like-button").on('click', function(event){
          event.preventDefault();

          var likeCount = $(this).siblings('.like-count');

          $.post(this.button, function(response){
              likeCount.text(response.new_like_count);
          });

        });

      });

      </script>
  </body>
</html>
