<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learn SSU</title>


    <link rel="shortcut icon" href="/images/ssu-logo-2.ico" >
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  </head>
  <body>

    <section class="navbar">
        <ul class="menu">
          <li id="header"><a href='/' id="decoration">Learn SSU</a></li>
          <li id="about"><a href="/about" id="decoration">About Us</a></li>
        </ul>
    </section>

      <section class="middle-section">
        <p class="slogan">Get a live feed of the SSU team's daily learnings.<p>
          <img src="/images/ssu-logo-2.png" class="ssu-logo"></img>
          <form action="/posts" method="post" role="form" class="form-inline">
            <input type="text" name="title" class="input" placeholder=" Enter your BEST learning...">
            <button type="submit" value="Post" class="post-button">Post</button>
          <form>
      </section>

      <section class="post-container">
        <section class="posts">
          <% @posts.reverse.each do |post| %>
          <p class="individual-post"><%= post.title %></p>
          <% end %>
        </section>
      </section>

  </body>
</html>
