<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SSU</title>

  </head>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
  <body>




      <header class="top-bar">
        <a href='/' class="title">Learn SSU.</a>
      <div class="nav-bar-menu">
        <ul class="menu">
          <li><a href="/" id="home-button">Home</a></li>
          <li><a href="/about" id="about-button">About Us</a></li>
          <li><a href="/contact" id="contact-button">Contact</a></li>
        </ul>
      </div>
      </header>
    <div class="middle-bar">
      <div class="sub-title-bar">
        <p class="sub-title">Get a live feed of the SSU team's daily learnings.</p>
      </div>
    </div>
        <form action="/tasks" method="post" class="form">
          <input type="text" name="title" class="input">
          <input type="submit" value="Learnt" class="post-button">
        </form>
        <div
    </div>
      <div class="ssu-app">
        <div class="container">
        <ul>
            <% @tasks.each do |task| %>
            <div class="row">
              <li><%= task.title %></a></li>
            </div>
                <% if @tasks.any? %>
                <li><button class="like-button" name="like">Like</button></li>
                <p class="like-count">0</p><p> Like</p>
                <% end %>
              <% end %>
            </div>
          </div>
        </ul>

      </div>
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script>


      $(document).ready(function() {


        $(".like-button").on('click', function(event){
          event.preventDefault();

          var likeCount = $(this).siblings('.like-count');

          $.post(this.button, function(response){
              likeCount.text(response.new_like_count);
          });

        });

      });

      </script>
  </body>
</html>
