.navbar {
  padding-top: 1.5%;
}

.navbar-brand {
  position: relative;
  left: 6.5%;
  font-size: 3.5em;
  font-family: "AvenirLTStd-Book";
}

.navbar-right {
  font-family: "AvenirLTStd-Book";
  padding-right: 8.5%;
}

.navbar-static-top {
  margin-bottom: 0%;
}

.form-inline {
  /*position: relative;
  left: 12.5%;
  padding-top: 18.5%;*/
}

.col-md-7 {
  width: 58.33333;
}

.col-xs-12 {
  width: 100%;
}

.input {
  width: 70%;
  height: 45px;
  color: #282828;
  border: none;
  font-family: "AvenirLTStd-Book";
  border-radius: 7.5px;
}

.btn {
  color: #fff;
  width: 10%;
  border: none;
  height: 45px;
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  background-color: #708a86;
  border-radius: 7.5px;
  position: absolute;
  display:inline-block;
  margin-left: 1%;
  font-size: 2em;
  font-family: "AvenirLTStd-Book";

}



::-webkit-input-placeholder {
  font-size: 1.5em;
}

p.post {
  border: solid;
  position: relative;
  background: #fff;
  min-height: 150px;
  padding: 20px;
}
.margin {
  margin-left: 20%;
}

.slogan-page {
  width: 100%;
  padding-bottom: 50%;
  background-color: salmon;
}

/*.form-control {
width: 10%;
height: 45px;
color: #282828;
border: none;
font-family: "Futura (Light)";
border-radius: 7.5px;
}*/

/*.btn {
font-family: "Futura (Light)";
font-size: 200%;
border: none;
width: 10%;
height: 45px;
background-color: #708a86;
border-radius: 7.5px;
display:inline-block;
}*/



/*.row {
position: relative;
background: yellow;
min-height: 200px;
padding: 20px;
}*/

/*.top-bar {
  background-color: #57e2ca;
  display: block;
  box-sizing: border-box;
  height: 15%;
}

.middle-bar {
  background-color: #57e2ca;
  display: block;
  box-sizing: border-box;
  height: 75%
}

.title {
  font-family: "AvenirLTStd-Book";
  font-size: 3.75em;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-left: 12.5%;
  position: absolute;
  top: 4.5%;
  text-decoration: none;
}

.form {
  position: absolute;
  top: 45%;
  left: 12.5%;


}





.sub-title {
  font-family: "AvenirLTStd-Book";
  font-size: 1.75em;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-top: 8%;
  padding-left: 0%;
}

::-webkit-input-placeholder{
  font-family: "AvenirLTStd-Book";
  font-size: 1.5em;

}

.menu {
  position: relative;
  font-family: "AvenirLTStd-Book";
  left: 75%;
}

li {
  display: inline;
}

.sub-title-bar {
  width: 30%;
  height: 20%;
  position: absolute;
  left: 12.5%;
  top: 30%;
}

.post-button {
  font-family: "AvenirLTStd-Book";
  font-size: 1.5em
}

#home-button {
  margin-right: 5%;
  /*color: white;
  text-decoration: none;
  font-size: 1em;*/
}

/*#about-button {
  margin-right: 5%;
  /*color: white;
  text-decoration: none;
  font-size: 1em;*/
}*/

/*#contact-button {
  color: white;
  text-decoration: none;
  font-size: 1em;
}*/

/*.row {
  background: salmon;
  width: 80%;
  height: 25%;
  position: relative;
  left: 10%;
}*/
