.navbar {
  padding-top: 2%;
  padding-bottom: 1.5%;
  background-color: #57e2ca;
  border: none;
}
.navbar-default .navbar-brand {
  color: white;
}

a:-webkit-any-link {
  color: white;
  cursor: auto;
}

.navbar-inverse {
  border color: none;
}

.navbar-brand {
  position: relative;
  left: 6.5%;
  font-size: 3.5em;
  font-family: "Futura (Light)";
  color: white;
}

.navbar-right {
  color: white;
  font-family: "Futura (Light)";
  padding-right: 8.5%;

}

.navbar-nav>li>a:hover {
  text-decoration: underline;
}

.navbar-nav li a {
  color: #FFF;
}

.navbar-static-top {
  margin-bottom: 0%;
}

.form-group {
  position: relative;
  left: 52.5%;
  margin-top: 37.5%;
}

.ssu-logo {
  position: absolute;
  top: 58%;
  left: 30%;
  width: 35%;
}

.col-md-7 {
  width: 58.33333%;
  padding-right: 0%;
}

.col-xs-12 {
  width: 100%;
}

.input {
  width: 400px;
  height: 45px;
  color: #282828;
  border: none;
  font-family: "Futura (Light)";
  border-radius: 5px;
}

.slogan {
  position: absolute;
  left: 22.5%;
  font-family: "Futura (Light)";
  font-size: 2.5em;
  margin-top: 13.5%;
  color: white;
}

/*.line {
  position: absolute;
  top: 92.1%;
  width: 100%;
  height: 0.25%;
  background-color: black;
}*/

.btn {
  color: #fff;
  width: 100px;
  border: none;
  height: 45px;
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  background-color: #708a86;
  border-radius: 5px;
  position: absolute;
  display:inline-block;
  margin-left: 1.5%;
  font-size: 2em;
  font-family: "Futura (Light)";
}

::-webkit-input-placeholder {
  font-size: 1em;
}

p.post {
  border: solid;
  border-width: 0.055em;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  position: relative;
  background: #fff;
  min-height: 200px;
  padding: 20px;
  width: 125%;
  margin-left: -15px;
  font-size: 1.25em;
  font-family: "Futura (Light)"
}

.slogan-page {
  width: 100%;
  height: 655px;
  background-color: #57e2ca;
}


/*.form-control {
width: 10%;
height: 45px;
color: #282828;
border: none;
font-family: "Futura (Light)";
border-radius: 7.5px;
}*/

/*.btn {
font-family: "Futura (Light)";
font-size: 200%;
border: none;
width: 10%;
height: 45px;
background-color: #708a86;
border-radius: 7.5px;
display:inline-block;
}*/



/*.row {
position: relative;
background: yellow;
min-height: 200px;
padding: 20px;
}*/

/*.top-bar {
  background-color: #57e2ca;
  display: block;
  box-sizing: border-box;
  height: 15%;
}

.middle-bar {
  background-color: #57e2ca;
  display: block;
  box-sizing: border-box;
  height: 75%
}

.title {
  font-family: "AvenirLTStd-Book";
  font-size: 3.75em;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-left: 12.5%;
  position: absolute;
  top: 4.5%;
  text-decoration: none;
}

.form {
  position: absolute;
  top: 45%;
  left: 12.5%;


}





.sub-title {
  font-family: "AvenirLTStd-Book";
  font-size: 1.75em;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-top: 8%;
  padding-left: 0%;
}

::-webkit-input-placeholder{
  font-family: "AvenirLTStd-Book";
  font-size: 1.5em;

}

.menu {
  position: relative;
  font-family: "AvenirLTStd-Book";
  left: 75%;
}

li {
  display: inline;
}

.sub-title-bar {
  width: 30%;
  height: 20%;
  position: absolute;
  left: 12.5%;
  top: 30%;
}

.post-button {
  font-family: "AvenirLTStd-Book";
  font-size: 1.5em
}

#home-button {
  margin-right: 5%;
  /*color: white;
  text-decoration: none;
  font-size: 1em;*/
}

/*#about-button {
  margin-right: 5%;
  /*color: white;
  text-decoration: none;
  font-size: 1em;*/
}*/

/*#contact-button {
  color: white;
  text-decoration: none;
  font-size: 1em;
}*/

/*.row {
  background: salmon;
  width: 80%;
  height: 25%;
  position: relative;
  left: 10%;
}*/
